<h2> Latests Posts: </h2>
<br />
<% @results.each do |post| %>
<p>
<br />
  Author's name: <%= post['author_name']%>
<br />
 Post: <%= post['content']%>
<br />
<br />
Added at <%= post['created_date']%>
<br />
<a href="/details/<%=post['id']%>">Comments </a>
</p>
<hr />
<% end %>
