<h2> Add new post</h2>
<p>

  <form  action="/new" method="POST" role="form">


<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">Please, enter your first name or nickname </span>
  <input   color: $yellow-300; name="author_name" type="text" class="form-control" placeholder="Your name" aria-label="User name" aria-describedby="basic-addon1">
</div>

  <div class="form-floating">

<br />
    <textarea name="content" class="form-control" placeholder="Write new post here" id="floatingTextarea2" style="height: 100px"></textarea>
   <br/>
  </div>
    <button type="submit" class="btn btn-dark">Submit</button>
  </form>

  </p>
