<h2> Add new post</h2>
<p>

  <form  action="/new" method="POST" role="form">

  <div class="form-floating">
    <textarea name="content" class="form-control" placeholder="Write new post here" id="floatingTextarea2" style="height: 100px"></textarea>
   <br/>
  </div>
    <button type="submit" class="btn btn-dark">Submit</button>
  </form>

  </p>
